* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  margin:0;
  font-family:"Montserrat", sans-serif;
}

h1 {
  font-family:"Montserrat", sans-serif;
  font-weight: 3em;
  letter-spacing: 1px;
  font-size:58px;
  color:#FFF;
}

h2 {
  color:#DC4C60;
}

h3 {
  color:#FFF;
}

h5 {
  color:#C5104F;
  font-size: 18px;
}

.nav-item > a{
  color: #DC4C60;
}

p, footer {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size:13px;
  color: #774A62;
  margin:0;
  
}


.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, #FFA384 0%, #FF8882 100%);
  color:#FFF;
}


.inner-header {
  height:25vh;
  width:100%;
  margin: 0;
  padding: 10px;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Wave Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     
  infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}


/*Shrinking for mobile 768px or less*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }

  h1 {
    font-size:35px;
  }

  h2 {
    font-size:30px;
  }

  h3, h5 {
    font-size:25px;
  }

  footer {
    font-size:15px;   
  }
}

/*Shrinking for mobile 540px or less*/
@media (max-width: 540px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }

  h1 {
    font-size:25px;
  }

  h2 {
    font-size:18px;
  }

  h3, h5 {
    font-size:16px;
  }

  footer {
    font-size:14px;
  }
}


/*Shrinking for mobile 420px or less*/
@media (max-width: 420px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }


  h1 {
    font-size:25px;
  }

  h2 {
    font-size:18px;
  }

  h3, h5 {
    font-size:15px;
  }

  footer {
    font-size:12px;
  }

}



/*Shrinking for mobile 375px or less*/
@media (max-width: 375px) {
  .waves {
    height:22px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }


  h1 {
    font-size:22px;
  }

  h2 {
    font-size:20px;
  }

  h3, h5 {
    font-size:18px;
  }

  footer {
    font-size:12px;
  }

}

/*Shrinking for mobile 325px or less*/
@media (max-width: 325px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }


  h1 {
    font-size:18px;
  }

  h2 {
    font-size:18px;
  }

  h3, h5 {
    font-size:12px;
  }

  footer {
    font-size:12px;
  }

}

/*Shrinking for mobile 280px or less*/
@media (max-width: 280px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height: 30vh;
  }

  h1 {
    font-size:20px;
  }

  h2 {
    font-size:16px;
  }

  h3 {
    font-size:15px;
  }

  h5, p {
    font-size:14px;
  }

  footer {
    font-size:11px;
  }

}

HTML CSSResult Skip Results Iframe
.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


.about-image img{
  width: 250px;
  background-size:cover;
}

.skills-image img{
  width: 220px;
  background-size:cover;
}

.project-snippets a {
  text-decoration:none;
}

.project-snippets img, p{
  width: 80%;
  display: inline-block;
  padding: 10px;
  
}



.footer-heart a{
  color:#DC4C60; 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 30%;
  border-bottom: 0;
  padding-bottom: 0.5em;
  text-decoration: none;
}

.nav-item > a { 
  text-decoration: none;
  color: black;
  box-sizing: border-box; 
  transition: 0.2s;
}

.nav-item > a:hover {
  box-shadow: inset 0 -100px 0 #FBD2C9;
  transition: 0.2s;
}

.skill-logo img {
  width:100px;
}


.design-skill, .software-skill {
  background: #FFE9E9; 
  border: solid 7px #FFF;
  border-radius: 30px;
  
}

.contact-developer > ul {
  text-align: start;
  list-style: none;
  font-size:1em;
  margin-left:0;
 
}

.contact-area-image{
  width:120px;
  
}


.feedback-input {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 15px;
  border-radius: 5px;
  line-height: 10px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 10px;
  width:80%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
    border:2px solid #CC4949; 
}


textarea {
  height: 150px;
  line-height: 100%;
  resize:vertical;
}

.contact-form button {
  font-family:'Montserrat', Arial, Helvetica, sans-serif;
  width:20%;
  border-radius:20px;
  border: 2px solid #CC6666;
  cursor:pointer;
  color:#CC6666;
  font-size:12px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:20px;
  background-color: #fff;
}

.contact-form button:hover {
  font-family:'Montserrat', Arial, Helvetica, sans-serif;
  color:#fff;
  background-color: #CC6666;
}
